{% extends "base.twig" %}
{% block main %}
<!-- Héritage de template ? Block(s) ? -->
<section>
    <h2>The world of Jurassic Park</h2>

        {% for dino in dino %}
          <a href="/detail/{{ dino.slug }}">
            <figure>
                <img src="{{ dino.avatar }}" alt="" />
                <figcaption>Discover the {{ dino.name }}</figcaption>
            </figure>
        </a>
        {% endfor %}
</section>
{% endblock %}